.PixelArtSelector-box {
  border: 1px solid lightgrey;
}

.PixelArtSelector-selected {
  border: 1px solid black !important;
}

.PixelArtSelector-container {
  display: inline-flex;
  width: 100%;
  padding: 0 50px;
}