/* .PixelArtCanvas {
  text-align: center;
} */

.PixelArtCanvas-box {
  margin: 0 !important;
  width: 20px !important;
  height: 20px !important;
  padding: 0 !important;
  border: 1px solid lightgrey;
}